* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --doraemon-blue: rgb(0, 168, 217);
  --doraemon-red: rgb(210, 6, 60);
  --tongue-color: rgb(243, 111, 3);
  --bell-color: rgb(244, 218, 73);
  --border-style: 2px solid black;
}

#codeContent-wrapper {
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  height: 50vh;
  max-width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

#codeContent-wrapper::-webkit-scrollbar {
  display: none;
}

.buttons {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50vh;
  z-index: 10;
}

button {
  padding: 8px 16px;
  margin-bottom: 5px;
  position: relative;
}

button:hover::after {
  border: 1px solid black;
  background-color: white;
  padding: 2px 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  z-index: 1;
}

#btnPlay:hover::after {
  content: '播放';
}

#btnPause:hover::after {
  content: '暂停';
}

#btnNormalSpeed:hover::after {
  content: '1倍速';
}

#btnQuadraSpeed:hover::after {
  content: '4倍速';
}

#btnHexaSpeed:hover::after {
  content: '16倍速';
}

#btnSkip:hover::after {
  content: '跳过代码动画';
}

.figure {
  position: absolute;
  left: 50%;
  top: 50vh;
  width: 280px;
  height: 300px;
  margin-left: -140px;
  animation: doraemon-animation 1.4s infinite linear;
}

@keyframes hopter-animation {
  0% {
    transform: rotate3D(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3D(0, 1, 0, 360deg);
  }
}