* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --doraemon-blue: rgb(0, 168, 217);
  --doraemon-red: rgb(210, 6, 60);
  --tongue-color: rgb(243, 111, 3);
  --bell-color: rgb(244, 218, 73);
  --border-style: 2px solid black;
}

#codeContent-wrapper {
  position: absolute;
  height: 50vh;
  width: 100%;
  overflow-y: auto;
}

#codeContent-wrapper::-webkit-scrollbar {
  display: none;
}

.figure {
  position: absolute;
  left: 50%;
  top: 50vh;
  width: 280px;
  height: 300px;
  margin-left: -140px;
  animation: doraemon-animation 1.4s infinite linear;
}

@keyframes hopter-animation {
  0% {
    transform: rotate3D(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3D(0, 1, 0, 360deg);
  }
}